
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key_here
TURNSTILE_SECRET_KEY=your_turnstile_secret_key_here

NEXT_PUBLIC_IPINFO_TOKEN=

NEXT_PUBLIC_LOCATION_OVERRIDE=

CASHFREE_CLIENT_ID=your_cashfree_client_id_here
CASHFREE_CLIENT_SECRET=your_cashfree_client_secret_here

SUPABASE_URL=your_supabase_project_url
SUPABASE_SECRET_KEY=your_supabase_secret_key

GOOGLE_MERCHANT_ID=your_merchant_id
